mixin ThemeStyle
  if dir !== 'rtl'
    link(href=`${CWD}sevi/publiccss/theme${ENV === 'PROD'? '.min': ''}.css`, rel='stylesheet')
  else
    link(href=`${CWD}sevi/publiccss/theme-rtl${ENV === 'PROD'? '.min': ''}.css`, rel='stylesheet')
  = '\n'
